/* Add mobile styles for the component here.  */
TextField,
Label,
Button {
    margin: 0 30 0 30;
}

TextField {
    font-size: 15;
}

Label,
Button {
    font-weight: bold;
    font-size: 18;
}

Button {
    margin-top: 30;
    border-color: rgb(230, 230, 230);
    border-width: 1;
}

.errorTextField {
    color: rgb(230, 10, 10);
    font-size: 14;
}

#backgroundLogin {
    background-image: url("~/assets/images/login/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Droid Sans Mono Slashed";
}

ActionBar {
    background-image: url("~/assets/images/images/head.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    
}

.actionBarLabel {
    color: #ffffff;
    font-size: 25px;
}
