<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
    <ActionBar>
        <Label class="avenirBlack actionBarLabel" [text]="actionBarTitle" textWrap="true"></Label>
    </ActionBar>
    <StackLayout *ngIf="isLogin; else elseBlock">
        <app-loader [(textLoader)]="textLoader"></app-loader>
    </StackLayout>
    <!-- Plantilla que se usa como "else" cuando la condición de arriba no se cumpla -->
    <ng-template #elseBlock>
        <ScrollView orientation="vertical">
            <StackLayout id="backgroundLogin">
                <form [formGroup]="formGroup" height="640">
                    <!-- #region Email -->
                    <Label text="Ingrese su correo electrónico" textWrap="true" marginTop="30"></Label>
                    <TextField hint="example@example.com" text="" formControlName="email"></TextField>
                    <div *ngIf="emailField.errors && emailField.dirty">
                        <Label *ngIf="emailField.hasError('required') && !this.emailField.hasError('pattern')"
                            text="El correo es requerido" textWrap="true" class="errorTextField"></Label>
                        <Label *ngIf="emailField.hasError('pattern')" text="Correo electrónico no válido"
                            textWrap="true" class="errorTextField"></Label>
                    </div>
                    <!-- #endregion Email -->
                    <!-- #region Password -->
                    <Label text="Ingrese su contraseña" textWrap="true" marginTop="30"></Label>
                    <TextField hint="**********" secure="true" text="" formControlName="password"></TextField>
                    <div *ngIf="passwordField.errors && passwordField.dirty">
                        <Label *ngIf="passwordField.hasError('required')" text="La contraseña es requerida"
                            textWrap="true" class="errorTextField"></Label>
                        <Label *ngIf="passwordField.hasError('minlength') || passwordField.hasError('maxlength')"
                            text="La contraseña debe tener entre 8 y 32 caracteres" textWrap="true"
                            class="errorTextField"></Label>
                    </div>
                    <!-- #endregion Password -->
                    <Button [isEnabled]="formGroup.invalid ? false : true" text="Ingresar" (tap)="logIn()"></Button>
                </form>
            </StackLayout>
        </ScrollView>
    </ng-template>
</Page>