<!-- <Button text="Loader works!"></Button> -->

<StackLayout>
    <ActivityIndicator [busy]="isBusy" color="green" width="65" height="65"></ActivityIndicator>
    <Label [text]="textLoader" textWrap="true"></Label>
</StackLayout>